@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}

body{
    background-color: #EDEDED;
}

.__className_d45be2::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

.__className_d45be2::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #000000;
}

.__className_d45be2::-webkit-scrollbar-thumb {
    background-color: #509D45;
    border-radius: 10px;
}

.ContainerScrollHidden::-webkit-scrollbar {
    width: 0;
    height: 0;
}

p{
    text-shadow: rgba(0, 0, 0, 0.25) 0.1em 0.1em 0.1em;
}

.inputLogin{
    text-shadow: rgba(255, 255, 255, 0.15) 0.1em 0.1em 0.1em;
}

.listItensDropdown::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}

.listItensDropdown::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}